<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns='http://www.urbancode.com/PluginXMLSchema_v1' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <header>
    <identifier id='com.urbancode.air.plugin.WMBCMP' version='6' name='WebSphere Message Broker - CMP' />
    <description>Integration for WebSphere Message Broker to deploy Broker Archives and start and stop Message Flows unsing the CMP API.</description>
    <tag>Middleware/Enterprise Service Bus/WebSphere Message Broker</tag>
  </header>
  <step-type name='WMB Set Broker Properties'>
    <description>Set Runtime Properties for the broker.</description>
    <properties>
      <property name='properties' required='true'>
        <property-ui type='textAreaBox' label='Properties' description='A new line separated list of properties to set in the format name=value' />
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_set_broker_props.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  <step-type name='WMB Set Execution Group Properties'>
    <description>Set runtime properties for an execution group.</description>
    <properties>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group to Deploy to.' />
      </property>
      <property name='properties' required='true'>
        <property-ui type='textAreaBox' label='Properties' description='A new line separated list of properties to set in the format name=value' />
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_set_execution_group_props.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  <step-type name='WMB Set Message Flows Property'>
    <description>Sets runtime properties on a list of message flows.</description>
    <properties>
      <property name='dirOffset'>
        <property-ui type='textBox'
                     label='Directory Offset'
                     description='Path under the current working directory where you want the step to execute.
                                  Absolute paths are not allowed.' />
      </property>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group to Deploy to.' />
      </property>
      <property name='msgFlows'>
        <property-ui type='textAreaBox' label='Message Flows' description='A new line separated list of message flows.' />
      </property>
      <property name='properties'>
        <property-ui type='textAreaBox' label='Properties' description='A new line separated list of properties to set in the format name=value' />
      </property>
      <property name='propertyFile'>
        <property-ui type='textBox'
                     label="Property File"
                     description="Specify the name and path to a property file to use as a source of the properties
                                  instead of explicitly listing the properties in the Properties field and the flows in
                                  the Message Flows field. The property file would be the same format as the one used by the
                                  mqsiapplybaroverride command."/>
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_set_flow_props.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>

  
   <step-type name='WMB Delete Flows Using RegEx'>
    <description>Delete WMB flows that have been deployed using a BAR file matching the given regular expression. Useful for deploying into shared execution groups.</description>
    <properties>
      <property name='regex' required='true'>
        <property-ui type='textBox' label='RegEx' description='Java compliant regular expression for matching the BAR file name of deployed flows.' />
      </property>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group to Deploy to.' />
      </property>
      <property name='timeout'>
        <property-ui type='textBox' label='Timeout' description='The timeout to wait for each bar file deploy result to come back in Milliseconds. Defaults to 60000'/>
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_delete_flows_using_regex.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  
  
  
  <step-type name='WMB Deploy'>
    <description>Deploy a Broker Archive.</description>
    <properties>
      <property name='barFileNames' required='true'>
        <property-ui type='textAreaBox' label='Bar File Names' description='Comma-separated list of Broker Archive files to deploy.' />
      </property>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group to Deploy to.' />
      </property>
      <property name='fullDeploy'>
        <property-ui type='checkBox' label='Full Deploy' description='If true empties Execution Group before Deploy.' />
      </property>
      <property name='timeout'>
        <property-ui type='textBox' label='Timeout' description='The timeout to wait for each bar file deploy result to come back in Milliseconds. Defaults to 60000'/>
      </property>
      <property name='startStopMsgFlows'>
        <property-ui type='checkBox' label='Start/Stop Message Flows' description='Check to stop all Message Flows in the Execution Group before deployment and start all Message Flows after deployment.' />
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_deploy.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  <step-type name='WMB Start Message Flows'>
    <description>Start Message Flows that are stopped.</description>
    <properties>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group.' />
      </property>
      <property name='messageFlows'>
        <property-ui type='textAreaBox' label='Message Flows' description='NewLine-separated list of Message Flow names to start.' />
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_start_msg_flow.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
  <step-type name='WMB Stop Message Flows'>
    <description>Stop Message Flows that are running.</description>
    <properties>
      <property name='executionGroup' required='true'>
        <property-ui type='textBox' label='Execution Group' description='Name of the Execution Group.' />
      </property>
      <property name='messageFlows'>
        <property-ui type='textAreaBox' label='Message Flows' description='NewLine-separated list of Message Flow names to start.' />
      </property>
      <property name='brokerHost' required='true'>
        <property-ui type='textBox' label="IP" description="The ip address of the target server." default-value='${p:resource/WebSphere Message Broker/ip}'/>
      </property>
      <property name='port' required='true'>
        <property-ui type='textBox' label='Port' description='The port of the target server.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="username">
        <property-ui type='textBox' label='Username' description='The username to use for authenticating against WMQ in the case that the user the step runs as is not correct'/>
      </property>
      <property name='queueManager' required='true'>
        <property-ui type='textBox' label='Queue Manager' description='The WebSphere MQ Queue Manager which the broker is using.' default-value='${p:resource/WebSphere Message Broker/port}'/>
      </property>
      <property name="debugFile">
        <property-ui type='textBox' label='Trace File' description='The file to use for trace logging. If not set trace logging will be disabled.'/>
      </property>
      <property name='jarPath'>
        <property-ui type='textBox' label='Jar Path' description='The full path containing both ConfigManagerProxy.jar and com.ibm.mq.jar. e.g. C:\Program Files\IBM\MQSI\7.0\classes\ConfigManagerProxy.jar:C:\Program Files\IBM\WebSphere MQ\java\lib\com.ibm.mq.jar.' default-value='${p:resource/WebSphere Message Broker/jarPath}' />
      </property>
    </properties>
    <post-processing><![CDATA[ 
 if (properties.get("exitCode") != 0) {
 properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
 }
 else { 
 properties.put("Status", "Success"); 
 }
 ]]></post-processing>
    <command program='${GROOVY_HOME}/bin/groovy'>
      <arg value='-cp' />
      <arg path='classes:${jarPath}' />
      <arg file='wmb_stop_msg_flow.groovy' />
      <arg file='${PLUGIN_INPUT_PROPS}' />
      <arg file='${PLUGIN_OUTPUT_PROPS}' />
    </command>
  </step-type>
</plugin>
